<!DOCTYPE html>
<html lang="fr">
	<head>

		<style>
			.font-weight-bold{
				font-weight: bold;
			}

			.text-blue{
				color: darkblue;
			}
		</style>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Vos Cycles Webfit</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<script src="../../js/utils.js"></script>
		<script src="../../js/index.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		<script>
			$(document).ready(function() {
				var settings = {
				"url": "http://project/api/cycles",
				"method": "GET",
				"timeout": 0,
				"dataType":"json",
				"headers": {
					"hash": "823679bebd3b19712899506974ceba5a"
					},
				};

				$.ajax(settings).done(function (response) {
					var cycles = response.cycles;
					for(var i=0;i<cycles.length;i++){
					cycle = cycles[i]
					console.log(cycle);
					var codeToAdd = `
					<div class="col">
						<div class="card shadow-sm">
							<div class="card-body">
								<p class="card-text font-weight-bold text-blue">${cycle.theme}</p>
								<p class="card-text">${cycle.title}</p>
								<p class="card-text">Entraineur: ${cycle.creator}</p>
								<div class="d-flex justify-content-between align-items-center">
									<small class="text-body-secondary">${cycle.repetition} répétitions, ${cycle.breaktime}s de pause</small>
								</div>
								<a onclick="setTrainingId(\`${cycle.id}\`)" style="margin-top: 5px" href="training.html" class="btn btn-primary">C'est parti !</a>
							</div>
						</div>
					</div>`;
					$("#cyclesContainer").append(codeToAdd);
					}
				});

				var istrainer = localStorage.getItem("istrainer")
				if(istrainer==1){$("#addCycleContainer").append(`<a href="cyclesadm.html" class="btn btn-primary my-2">Ajouter un cycle</a>`)}

			});

			function setTrainingId(id) {
				localStorage.setItem("trainingId", id);
				// var a = localStorage.getItem("trainingId");
			}
		</script>
	</head>
	<body onload="init()">
		<!--<?php include 'header.html'; ?>-->
		<div id="header"></div>

		<!-- Main content of the page -->

		<main>

			<section class="py-5 text-center container">
			  <div class="row py-lg-5">
				<div class="col-lg-6 col-md-8 mx-auto">
				  <h1 class="fw-light">Vos cycles d'entrainement !</h1>
				  <p class="lead text-body-secondary">Retrouvez ici tous vos cycles pour préparer au mieux vos futurs entrainements !</p>
				  <div id="addCycleContainer">
				  </div>
				</div>
			  </div>
			</section>
		  
			<div class="album py-5 bg-body-tertiary">
			  <div class="container">
		  
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="cyclesContainer">
				  
				</div>
			  </div>
			</div>
		  
		  </main>

		<!--<?php include 'footer.html'; ?>-->
		<div id="footer"></div>
	</body>
</html>