<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Votre entrainement</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		<link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">
		<script src="../../js/utils.js"></script>
		<link href="../../css/carousel.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script>
			var starter;
			var myCarousel;
			var targetTime;
			var countdownElement;
			var countdownInterval;

			function init() {
				load();
				starter = document.getElementById("starter");
				myCarousel = document.getElementById("myCarousel");
				starter.style.display = "block";
				// myCarousel.style.display = "none";
			}

			function start() {
				starter.style.display = "none";

				targetTime = Math.floor(Date.now() / 1000) + 90;
				// countdownElement = document.getElementById("countdown");
				countdownInterval = setInterval(updateCountdown, 1000);
			}

			function updateCountdown() {
				const currentTime = Math.floor(Date.now() / 1000);
				const remainingTime = targetTime - currentTime;
				if (remainingTime <= 0) {
					// Stop
					clearInterval(countdownInterval);

					countdownElement.textContent = "Countdown has reached zero!";
					return;
				}

				// Display the remaining time in seconds
				// countdownElement.textContent = remainingTime.toString();
				console.log(remainingTime.toString());
			}

			// Get training data
			$(document).ready(function() {
				var hash = localStorage.getItem("hash");
				var userId = localStorage.getItem("userid");
				var trainingId = localStorage.getItem("trainingId");
				$.ajax({
					type: "GET",
					url: `http://project/api/users/${userId}/cycles/${trainingId}`,
					data: {"hash": hash},
					dataType: "json",
					success: function(oRep) {
						console.log(oRep);
						var html = "";
						const container = document.body.children[2].children[1];
						console.log(container);
						oRep.cycles.forEach(exercice => {
							html = generateBlock(exercice.title, exercice.repetition) + html
						});
						container.innerHTML = html + container.innerHTML;
					},
					error: function() { console.log("Erreur dans la requête pour récupérer le training") }
				});
			});

			function generateBlock(titre, repetition) {
				return `
					<div class="carousel-item active" data-bs-interval="7000">
					<svg class="bd-placeholder-img custom-container" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
					<div class="container">
						<div class="carousel-caption">
						<h1>Cycle 1</h1>
						<h2>Exo 0: ${titre}</h2>
						<p>${repetition} répétitions, 1min30</p>
						<div class="btn-group">
							<p><a class="btn btn-lg btn-primary" href="#">Pause !</a></p>
							<p><a class="btn btn-lg btn-primary btn-pas-fait" href="#">Pas fait !</a></p>
						</div>
						<img class ="image-exo" src="../../ressources/index.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="50%" height="30%">
						</div>
					</div>
					</div>
				`;
			}

		</script>
		<style>
			.custom-container {
				height : 600px;
			}
			.image-exo {
				text-align: center;
			}
			.btn-lg {
				margin : 5px;
			}
			.btn-pas-fait {
				background-color : red;
			}
		</style>
		

	</head>
	<body onload="init();">
		<div id="header"></div>
		
		<div id="starter" class="container px-4 py-5">
			<h2 class="pb-2 border-bottom">Démarrer ou reprendre l'entraînement 
				<a onclick="start();" type="submit" id="logoutForm" class="btn btn-primary btn-lg">PLAY</a>
			</h2>
		</div>
		<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
				<button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
			</div>
			<div class="carousel-inner">
				<div class="carousel-item" data-bs-interval="7000">
					<svg class="bd-placeholder-img custom-container" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
					<div class="container">
						<div class="carousel-caption">
						<h1>Cycle 1</h1>
						<h2>Exo 1: pompes</h2>
						<p>15 répétitions, 1min30</p>
						<div class="btn-group">
							<p><a class="btn btn-lg btn-primary" href="#">Pause !</a></p>
							<p><a class="btn btn-lg btn-primary btn-pas-fait" href="#">Pas fait !</a></p>
						</div>
							<img class ="image-exo" src="../../ressources/index.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="50%" height="30%">
						</div>
					</div>
				</div>
				<div class="carousel-item" data-bs-interval="3000">
				<svg class="bd-placeholder-img  custom-container" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
				<div class="container">
					<div class="carousel-caption">
						<h1>Cycle 1</h1>
						<h2>Exo 2: développé couché</h2>
						<p>10 répétitions, 1min</p>
						<div class="btn-group">
							<p><a class="btn btn-lg btn-primary" href="#">Pause !</a></p>
							<p><a class="btn btn-lg btn-primary btn-pas-fait" href="#">Pas fait !</a></p>
						</div>
						<img class ="image-exo" src="../../ressources/programme-pectoraux.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="50%" height="30%">
						</div>
					</div>
				</div>
				<div class="carousel-item" data-bs-interval="5000">
				<svg class="bd-placeholder-img custom-container" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
				<div class="container">
					<div class="carousel-caption">
						<h1>Cycle 1</h1>
						<h2>Exo 3: squat jump</h2>
						<p>25 répétitions, 1min</p>
						<div class="btn-group">
							<p><a class="btn btn-lg btn-primary" href="#">Pause !</a></p>
							<p><a class="btn btn-lg btn-primary btn-pas-fait" href="#">Pas fait !</a></p>
						</div>
						<img class ="image-exo" src="../../ressources/sauts.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="50%" height="30%">
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
		</div>
		<script src="../../assets/dist/js/bootstrap.bundle.min.js"></script>
	
	<div id="footer"></div>	
	
	</body>
</html>